# PHP Dependencies
/vendor/

# Node / NPM / Vite / Tailwind
/node_modules/
/public/build
/public/js/*
/public/css/*
/public/hot
/public/storage
npm-debug.log
yarn-error.log

# Environment
.env
.env.backup
.env.production

# Laravel 12 Storage & Cache
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
/storage/*.key

# IDE / Editor
.idea/
.vscode/
.phpactor.json

# OS
.DS_Store
Thumbs.db

# PHPUnit cache
.phpunit.result.cache

# Composer Auth
auth.json
